$bodyHeight: 74vh;

.View {

  .body {
    padding: 2vh;
    height: $bodyHeight;

    .transformGroup {
      transition: transform .6s cubic-bezier(0, 0.84, 0.64, 1.12);
      position: relative;
      height: 100%;
      will-change: transform;
    }
    .transformItem {
      top: 0;
      position: absolute;
      width: 100vw;
      height: $bodyHeight;
    }
  }
  .footer {
    padding: 2vh 3vh;
    padding-top: 0;
    height: 20vh;
    display: flex;
    align-items: center;
    & > div {
      margin-right: 2vh;
    }
  }
  .toolIcon {
    background: #333;
    svg {
      transform: scale(0.8);
    }
  }
}