$bodyHeight: 82vh;

.View {

  .body {
    padding: 2vh;
    height: $bodyHeight;

    .transformGroup {
      transition: transform .6s ease-in-out;
      position: relative;
      height: 100%;
      will-change: transform;
    }
    .transformItem {
      top: 0;
      position: absolute;
      width: 100vw;
      height: $bodyHeight;
    }
  }
  .footer {
    padding: 2vh 3vh;
    padding-top: 0;
    height: 12vh;
    display: flex;
    align-items: center;
    & > div {
      margin-right: 2vh;
    }
  }
  .toolIcon {
    background: #333;
    svg {
      transform: scale(0.8);
    }
  }
}

.spiritWrapper {
  background-color: #333 !important;
  display: flex;
  align-items: center;
  svg {
    transform: scale(0.8);
  }
  .text {
    flex-grow: 1;
    text-align: right;
    padding-right: 2vh;
    color: #fff;
    font-weight: 500;
  }
}